<footer class="site-footer h-card">
	<div class="wrapper">
		<div class="links">
			<div class="link">
				<a href="https://facebook.com/pluminu"
					><svg class="svg-icon">
						<use
							xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"
						></use>
					</svg>
				</a>
			</div>
			<div class="link">
				<a href="https://instagram.com/plusminusnyc"
					><svg class="svg-icon">
						<use
							xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"
						></use>
					</svg>
				</a>
			</div>
			<div class="link">
				<a href="https://youtube.com/plusminusband"
					><svg class="svg-icon">
						<use
							xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"
						></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</footer>
