.hero {
	display: flex;
	background-color: #c80100ff;

	.image {
		width: 50%;
		padding: 10px;
	}
	.content {
		padding: 10px;
		color: #ece1d6;
	}
}

.links {
	display: flex;
	justify-content: right;
	.link {
		padding-left: 10px;
	}
}
