body {
	background-color: #faf9f6;
}
button {
	color: whitesmoke;
	background-color: #2a7ae2;
	border-radius: 6px;
	border: 0;
	box-shadow: none;
	padding: 6px 10px;
	cursor: pointer;
}

#mail-list {
	margin-top: -1.5px;
	margin-right: 4px;
	a {
		color: #828282;
	}
}

.wrapper {
	/* override default style for this template */
	max-width: calc(900px - (30px * 2));
}

.button-sm {
	background-color: #2a7ae2;
	border-radius: 10px;
	padding: 6px 10px;
	cursor: pointer;
	a {
		color: whitesmoke;
	}
}

.hero {
	display: flex;
	background-color: #c80100ff;

	.image {
		width: 50%;
		padding: 10px;
	}
	.content {
		padding: 10px;
		color: #ece1d6;
	}

	a:link {
		color: #ece1d6;
	}

	a:visited {
		color: #ece1d6;
	}

	a:hover {
		color: #ece1d6;
	}

	a:active {
		color: #ece1d6;
	}
}

.links {
	display: flex;
	justify-content: right;
	.link {
		padding-left: 10px;
	}
}

.shows {
	h2 {
		margin-bottom: 0;
	}
	#container {
		#month {
			padding-top: 20px;
			font-weight: 150;
		}
		#show {
			font-size: 14px;
		}
		#shows-header {
			h2 {
				margin-bottom: 0;
				margin-top: 20px;
				color: #1756a9;
				font-weight: 600;
			}
		}
		.past {
			opacity: 60%;
		}
	}
}

#store {
	h3 {
		margin-bottom: 0;
	}
	.items {
		.container {
			display: flex;
			.content-container {
				padding: 12px;
				.price {
					button {
						margin-top: 7px;
					}
				}
			}
			.image {
				width: 120px;
				padding-top: 12px;
				cursor: pointer;
			}
		}
		.others {
			padding: 12px 12px 12px 0;
		}
	}
}

#lyrics {
	.post-content {
		font-size: 14px;
		h3 {
			margin-bottom: -25px;
			margin-top: 40px;
			font-size: 2em;
			background-color: beige;
		}
		h4 {
			font-weight: 600;
			margin-top: 40px;
		}
	}
}

.post {
	#news-image {
		margin: auto;
		width: 40%;
		display: block;
		padding-bottom: 20px;
	}

	.video-container {
		padding-bottom: 20px;
	}
}

#album {
	.post-content {
		h4 {
			font-weight: 600;
		}

		#album-info {
			margin-bottom: 40px;
		}
		#buy-album-btn {
			display: inline-block;
			margin-top: 5px;
		}
		#release-info {
			font-style: italic;
			margin-bottom: 10px;
		}
		#container {
			margin-bottom: 40px;
			#release-container {
				display: flex;
				#artwork {
					margin-right: 40px;
					width: 60%;
				}
			}
			img {
				cursor: zoom-in;
				border-radius: 5px;
				width: -webkit-fill-available;
			}
			li {
				list-style: decimal-leading-zero;
			}
		}
	}
}

#discography {
	.post-list {
		display: flex;
		flex-wrap: wrap;
	}

	.release-container {
		padding: 10px;
		width: 30.5%;
		.post-link {
			font-size: 12px;
		}
		.release-thumb {
			border-radius: 7px;
		}
	}
	.post-link {
		font-size: 16px;
		display: inline;
	}

	a:link {
		color: black;
	}

	a:visited {
		color: black;
	}

	a:hover {
		color: black;
	}

	a:active {
		color: black;
	}
}

.news {
	.post-list {
		padding-top: 20px;
	}
}

.contact {
	h2 {
		margin-top: 50px;
		padding: 8px;
		border-radius: 4px;
	}
	#mailing-list {
		background-color: #aa2125;
		color: white;
	}
	#reach-out-directly {
		background-color: #217cc2;
		color: white;
	}
	#press-or-booking {
		background-color: #f2ae44;
		color: white;
	}
}
