---
layout: default
title: Discography
---

<div id="discography">
	{{ content }} {%- if site.posts.size > 0 -%}
	<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
	<ul class="post-list">
		{% assign discography = site.posts | where: "tags", "discography" %} {%-
		for post in discography -%}
		<li>
			<div>
				<a class="post-link" href="{{ post.url | relative_url }}">
					<img src="{{ post.image_url }}" class="release-thumb" />
				</a>
			</div>
			<div>
				<a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				</a>
			</div>
			{%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
		</li>
		{%- endfor -%}
	</ul>
	{%- endif -%}
</div>
