---
layout: default
---

<div id="store">
	<h2>Store</h2>
	{{ content }}
	<div class="items">
		<ul class="post-list">
			{% assign products = site.posts | where: "tags", "product" %} {%-
			for post in products -%}
			<li>
				<h3 id="{{post.title | slugify }}">
					{%- if post.detail_page -%}
					<a class="post-link" href="{{ post.detail_page }}">
						{{ post.title | escape }}
					</a>
					{%- else %}
					<a class="post-link" href="{{ post.image }}">
						{{ post.title | escape }}
					</a>
					{%- endif %}
				</h3>
				<div class="container">
					<div class="image">
						{%- if post.detail_page -%}
						<a href="{{post.detail_page}}"
							><img src="{{post.image}}"
						/></a>
						{%- else %}
						<a href="{{post.image}}"
							><img src="{{post.image}}"
						/></a>
						{%- endif %}
					</div>
					<div class="content-container">
						<div class="price">
							${{post.price}}
							<form
								target="paypal"
								action="https://www.paypal.com/cgi-bin/webscr"
								method="post"
							>
								{%- if post.item_type == "Tee Shirt"-%}
								<input type="hidden" name="on0" value="size" />
								<select name="os0" id="tee-select">
									<option value="small">SM</option>
									<option value="medium">MD</option>
									<option value="large">LG</option>
									<option value="extra-large">XLG</option>
								</select>
								{%- endif -%}

								<button>Add To Cart</button>
								<input type="hidden" name="add" value="1" />
								<input type="hidden" name="cmd" value="_cart" />
								<input
									type="hidden"
									name="business"
									value="plusminus@plusmin.us"
								/>
								<input
									type="hidden"
									name="item_name"
									value="{{post.item_name}}"
								/>
								<input
									type="hidden"
									name="item_number"
									value="{{post.item_number}}"
								/>
								<input
									type="hidden"
									name="amount"
									value="{{post.price}}"
								/>
								<input
									type="hidden"
									name="no_shipping"
									value="2"
								/>
								<input type="hidden" name="no_note" value="1" />
								<input
									type="hidden"
									name="currency_code"
									value="USD"
								/>
								<input type="hidden" name="lc" value="US" />
								<input
									type="hidden"
									name="bn"
									value="PP-ShopCartBF"
								/>
							</form>
						</div>
					</div>
				</div>
				<div class="others">{{post.others}}</div>
			</li>
			{%- endfor -%}
		</ul>
	</div>
</div>
